body {
  margin: 5px;
  padding: 5px;
  background-color: #44444E;
}

div {
  margin: 20px;
  padding: 10px;
  
  background-color: #715A5A;
}

main {
  margin: 5%;
  padding: 15px;

  background-color: #D3DAD9;
  
  font-family: monospace;
  text-align: center;
}

img {
  border-radius: 75px;
}

a {
  margin: 5%;
  padding: 5%;

  background-color: #D3DAD9;

  display: block;

  color: black;
  font-size: 20px;
  text-decoration: none;

  text-align: center;
}